<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313941027963-73ckl6i1192lopg3tsq5odbscc72vm9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313941027963-73ckl6i1192lopg3tsq5odbscc72vm9b</string>
	<key>API_KEY</key>
	<string>AIzaSyDljtt8cJWJRI6m6o82rvAvodt4tFrf8gM</string>
	<key>GCM_SENDER_ID</key>
	<string>313941027963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prepuni</string>
	<key>PROJECT_ID</key>
	<string>digitallx</string>
	<key>STORAGE_BUCKET</key>
	<string>digitallx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313941027963:ios:b33b280350b4c19e6186de</string>
</dict>
</plist>