<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29692789934-of41k775is38es5s3pkcvs3ltr8fp1pu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29692789934-of41k775is38es5s3pkcvs3ltr8fp1pu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>29692789934-6ubvsoibh9srp5dvn584ds1i5vbkkh13.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBR_R9pt669_oNK8GFAVhsmfKx62NALsk8</string>
	<key>GCM_SENDER_ID</key>
	<string>29692789934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digitalluxe.prepuni</string>
	<key>PROJECT_ID</key>
	<string>prepuni</string>
	<key>STORAGE_BUCKET</key>
	<string>prepuni.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29692789934:ios:7e5c35d4af428d1615593f</string>
	<key>DATABASE_URL</key>
	<string>https://prepuni.firebaseio.com</string>
</dict>
</plist>